/* ------------------------------------------
	Page Style 
------------------------------------------ */
/* new Font link  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #898989;
    background-color: #ececef;
}
a {
    color: #808080;
    text-decoration: none;
}
a:hover {
    color: #808080;
    text-decoration: underline;
}
h2 {
    margin: 0 0 30px;
}
h3 {
    font-size: 16px;
    line-height: 18px;
    color: #000;
    font-weight: 400;
    margin-bottom: 30px;
}
p {
    font-size: 14px;
    font-weight: 300;
    color: #898989;
    line-height: 24px;
}
b, strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
}
.title {
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
}
.title-description {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.62);
}
.title-description a {
    color: #FFFFFF;
}
.header h1 {
    margin: 40px 0;
    text-align: center;
}
.header h1 img {
    max-width: 100%;
    object-fit: contain;
}
/* =================================================
new CSS start here 13/07/2024
================================================= */
.clearfix {
    text-align: center;
    font-size: 14px;
}
.clearfix a {
    color: #1b6aac;
    font-weight: 500;
}
.content {
    padding: 0px 15px 0px 0px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
}
.right-content-wrapper {
    padding-top: 10px;
    padding-right: 15px;
}
.form-heading {
    background-color: #2fb74e;
    border-radius: 3px;
    box-shadow: 0px 3px 25px #39973a7d;
}
.title{
    margin-bottom: 0;
    color: #FFFFFF;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}
.copyright-text {
    padding-top: 30px;
    padding-bottom: 15px;
}
.sidebar {
    height: 100%;
    padding: 35px 0px 30px;
    background-color: #fff;
    padding-right: 20px;
    
}

@media (min-width: 992px) {
    .sidebar {
        box-shadow: 3px 0px 8px rgba(10, 10, 10, .04);
        border-right: 1px solid #ececefc1;
        
    }
}

.sidebar svg {
    width: 20px;
    height: 20px;
}
.sidebar .nav {
    margin-bottom: 0px;
    padding-left: 35px;
}
.sidebar .nav-stacked > li + li {
    margin: 0;
}
.sidebar .nav li a {
    color: #898989;
    font-weight: 400;
    transition: all ease .2s;
    font-size: 14px;
    border-radius: 4px;
}
.sidebar .nav > li > a:hover {
    color: #333;
    background-color: #2fb74f1f;
}
.sidebar .nav > li.active > a {
    color: #333;
    background-color: #2fb74f5b;
    box-shadow: 0 3px 8px hsla(134, 59%, 45%, 0.2);
}
.sidebar .nav li a {
    display: flex;
    align-items: center;
    gap: 7px;
}
.sidebar .nav li a:hover .st0 {
    stroke:#333;
    transition: all ease .3s;
}

.pagination-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px
}
.right-content-wrapper .pagination-wrapper table td {
    font-weight: 500;
    padding: 0 ;
    
}
.right-content-wrapper .pagination-wrapper table{
    border: none !important;
}

.pagination-wrapper table a {
    padding:  10px 15px;
    transition: all ease .3s;
    display: block;
}
.right-content-wrapper .pagination-wrapper table .active,
.pagination-wrapper table td a:hover {
    background-color: #39973b;
    color: #fff;
}
@media (max-width: 991px) {
    .copyright-text {
        padding-top: 50px;
        padding-bottom: 35px;
    }
    .right-content-wrapper {
        padding-inline: 15px;
    }
    .sidebar {
        box-shadow: none;
        border-bottom: 1px solid #ececef;
    }
    .form-heading .title {
        font-size: 21px;
    }
    .content {
        padding: 0;
    }
    .right-content-wrapper .adam-button {
        margin-top: 10px;
    }
    .sidebar .nav {
        padding-left: 30px;
        padding-right: 10px;
        white-space: nowrap;
    }
}